.container_control_center {
  display: flex;
  // background-color: #fdfeff;
  // height: 100vh;
  background-color: #f5f6fb;
  // position: relative;
  // top: 3rem;

  //   background-color: red;

  .left_control {
    // position: relative;
    // top: 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f6fb;
    // justify-content: start;
    flex: 0.22;
    padding: 1rem;
    color: #383874;

    .left_control_top {
      // display: flex;
      // flex-direction: column;
      position: relative;
      top: 4rem;
      left: 1.5rem;
      // width: 300px;
      margin: 0 auto;
      .profile_name {
        margin: 0;
        font-size: 48px;
        font-family: Poppins;

        #profile_name {
          color: #66c8ff;
        }
      }
      h5 {
        width: 314px;
        height: 36px;
        // font-size: 22px;
        line-height: 36px;
        font-weight: 600;
        color: #383874;
        font-family: Poppins;
        font-weight: 600;
        font-size: 22px;
        line-height: 50px;
      }

      p {
        width: 351px;
        height: 64px;
        color: #383874;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.44px;

        a {
          color: limegreen;
        }
      }
      h1 {
        color: #383874;
        font-weight: 500;
        font-size: 72px;
        font-family: Poppins;
        letter-spacing: -1.75px;
        line-height: 0px;
      }
    }

    .left_control_bottom {
      display: flex;
      flex-direction: column;
      // background-color: red;
      margin: 0 auto;

      position: relative;
      top: 12rem;
      // right: 1rem;
      h5 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
      }
      .left_control_table {
        font-size: 1rem;
        color: #383874;
        background-color: #ffffff;
        width: 290px;
        height: 336px;
        box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
          0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
        border-radius: 10px;
        // display: flex;
        // align-items: flex-start;
        // margin: 2rem;
        // flex-direction: column;
        th {
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 0.7rem;
        }
        tr {
          width: 100%;
          display: flex;
          // justify-content: center;

          // position: relative;
          // // margin-left: 2rem;
          // display: flex;
          // width: 100%;
          // justify-content: space-evenly;
          // background-color: red;
          td {
            // width: 120px;
            width: 100%;
            font-size: 0.7rem;
            display: flex;
            margin-top: 0.3rem;
            justify-content: space-around;
          }
        }

        .dot {
          width: 5px;
          height: 5px;
          margin-left: 1rem;
          border-radius: 50%;
          background: #000;
          position: relative;
          top: 0.3rem;
          right: 0.6rem;
        }
      }
    }
  }
  .right_control {
    display: flex;
    border-bottom-left-radius: 73px;
    border-top-left-radius: 25px;

    flex: 0.78;
    background-color: #eef1fa;
    // background-color: red;
    position: relative;
    flex-direction: column;
    .right_control_top {
      display: flex;
      // background-color: green;
      flex-direction: row;
      .desc {
        color: #7c3efb;
        font-size: 5rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-left: 2rem;
      }

      .ruler {
        top: 1rem;
        font-size: 1.5rem;
        flex: 0.4;
        display: flex;
        // justify-content: center;
        position: relative;
        margin: auto;
        right: 5rem;
        // left: 20rem;
        border-radius: 100px;
        // background-color: white;

        ul {
          display: flex;
          width: 351px;
          position: relative;
          list-style-type: none;
          // width: 100%;
          justify-content: space-around;
          align-items: center;
          background: white;
          height: 35px;
          border-radius: 100px;

          li {
            color: #8484a0;
            font-size: 14px;
          }
        }
      }
    }
    .right_control_center {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .left_section {
        height: 100vh;
        // width: 500px;
        flex: 0.85;
        // background-color: red;
        // border: 2px solid red;
      }

      .right_section {
        h5 {
          color: #383874;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 36px;
        }

        .table_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px 0px;
          background: #ffffff;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
          border-radius: 10px;
          width: 290px;
          height: 690px;

          .total {
            font-family: Poppins;
            color: #383874;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            line-height: 44px;
            /* identical to box height, or 129% */
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -0.44px;
          }

          .compared {
            font-family: Roboto;
            font-size: 12px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 0.4px;
            color: #383874;
            mix-blend-mode: normal;
            opacity: 0.6;
          }
        }

        table {
          background: #ffffff;
          // box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
          //   0px 2.76726px 2.21381px rgba(108, 73, 172, 0.0196802);
          border-radius: 10px;
          // flex: 0.2;
          height: max-content;
          // display: flex;
          // flex-direction: row;
          // justify-content: space-between;

          tr {
            display: flex;
            justify-content: space-between;
            // align-items: center;
            padding: 0.7rem;
            width: 280px;
            // background-color: red;

            th,
            td {
              display: flex;
              // background-color: red;
              // padding: 0.5rem;
              font-size: 0.7rem;
              // font-weight: 600;
              width: 100%;
              margin-left: 0.8rem;
            }
          }
        }
      }
      .circle_container {
        // display: grid;
        width: 100;
        // background-color: red;
        position: relative;

        // flex-wrap: wrap;
        #circle1 {
          position: relative;
          top: 14rem;
          left: 0rem;
          background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle1In {
            justify-content: center;
            display: flex;
            align-items: center;
            // background: #ffffff;
            background: linear-gradient(206.92deg, #8676ff 12%, #7517f8 89.46%);
            /* Widget shadow */
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;

            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
          }
          #circle1InIn {
            background-color: white;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }

        #line1 {
          transform: rotate(-45deg);
          position: relative;
          top: 5rem;
          width: 300px;
          border: 2px solid #8676ff;
        }

        #line11 {
          transform: rotate(0deg);
          position: relative;
          top: 10.5rem;
          left: 4rem;
          width: 450px;
          border: 2px solid #e3e3ee;
        }
        #line111 {
          transform: rotate(45deg);
          position: relative;
          top: 16rem;
          left: -1rem;
          width: 340px;
          border: 2px solid #e3e3ee;
        }

        #circle2 {
          position: relative;
          top: -7rem;
          left: 15rem;
          background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle2In {
            justify-content: center;
            display: flex;
            align-items: center;
            // background: #ffffff;
            background: linear-gradient(206.92deg, #8676ff 12%, #7517f8 89.46%);
            /* Widget shadow */
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;

            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
          }
          #circle2InIn {
            background-color: white;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }

        #line2 {
          transform: rotate(90deg);
          position: relative;
          top: -2rem;
          left: 13.1rem;
          width: 170.77px;
          border: 2px solid #8676ff;
        }

        #line22 {
          transform: rotate(45deg);
          position: relative;
          top: -5rem;
          left: 16rem;
          width: 320.77px;
          border: 2px solid #e3e3ee;
        }

        #circle3 {
          position: relative;
          top: -1rem;
          left: 15rem;
          background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle3In {
            justify-content: center;
            display: flex;
            align-items: center;
            // background: #ffffff;
            background: linear-gradient(206.92deg, #8676ff 12%, #7517f8 89.46%);
            /* Widget shadow */
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;

            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
          }
          #circle3InIn {
            background-color: white;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }

        #line3 {
          transform: rotate(90deg);
          position: relative;
          top: -3rem;
          left: 13rem;
          width: 170.77px;
          border: 2px solid #8676ff;
        }

        #circle4 {
          position: relative;
          top: 6rem;
          left: 15rem;
          // background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          // box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
          //   0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle4In {
            justify-content: center;
            display: flex;
            align-items: center;
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;
          }
          #circle4InIn {
            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
            background: #ffffff;
            border: 2.11429px solid #dcdce0;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }

        #line44 {
          transform: rotate(90deg);
          position: relative;
          top: -3rem;
          left: 13.1rem;
          width: 170.77px;
          border: 2px solid #e3e3ee;
        }

        #circle5 {
          position: relative;
          top: -22rem;
          left: 24rem;
          // background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          // box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
          //   0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle5In {
            justify-content: center;
            display: flex;
            align-items: center;
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;
          }
          #circle5InIn {
            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
            background: #ffffff;
            border: 2.11429px solid #dcdce0;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }

        #circle6 {
          position: relative;
          top: -22rem;
          left: 31rem;
          background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle6In {
            justify-content: center;
            display: flex;
            align-items: center;
            // background: #ffffff;
            background: linear-gradient(206.92deg, #8676ff 12%, #7517f8 89.46%);
            /* Widget shadow */
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;

            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
          }
          #circle6InIn {
            background-color: white;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }
        #line6 {
          transform: rotate(0deg);
          position: relative;
          top: -25.7rem;
          left: 35rem;
          width: 220px;
          border: 2px solid #8676ff;
        }

        #circle7 {
          position: relative;
          top: -29.5rem;
          left: 48rem;
          display: flex;
          background: #ffffff;
          // background: red;
          width: 112px;
          height: 112px;
          border-radius: 50%;
          box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
            0px 2.76726px 2.21381px #c6c7d1;
          display: flex;
          align-items: center;
          justify-content: center;
          #circle7In {
            justify-content: center;
            display: flex;
            align-items: center;
            // background: #ffffff;
            background: linear-gradient(206.92deg, #8676ff 12%, #7517f8 89.46%);
            /* Widget shadow */
            width: 78.23px;
            height: 78.23px;
            border-radius: 50%;

            box-shadow: 0px 6.6501px 5.32008px rgba(108, 73, 172, 0.0282725),
              0px 2.76726px 2.21381px #c6c7d1;
          }
          #circle7InIn {
            background-color: white;
            width: 90%;
            height: 90%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          z-index: 5;
        }
        #line7 {
          transform: rotate(0deg);
          position: relative;
          top: -25.7rem;
          left: 35rem;
          width: 220px;
          border: 2px solid #8676ff;
        }
      }
    }
  }
}
