.footer {
  //   background-color: red;
  display: flex;
  height: 38px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  color: #5a5a89;
  font-family: Roboto;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  span {
  }
}
